<!DOCTYPE html>
<html>
<head>
    <title>Hello Admin</title>
</head>
<body>
    <h2>Hello Admin</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>App Name:</label><input type="text" name="name"><br>
        <label>App Link:</label><input type="text" name="package_name"><br>
        <label>Points:</label><input type="number" name="points"><br>
        <label>Category:</label><input type="text" name="category"><br>
        <label>Sub-category:</label><input type="text" name="subcategory"><br>
        <label>Icon:</label><input type="file" name="icon"><br>
        <button type="submit">Add App</button>
    </form>
</body>
</html>
